<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>animations</key>
    <dict>
        <key>idleA</key>
        <dict>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <array>
                <string>idle1.png</string>
                <string>idle2.png</string>
				<string>idle3.png</string>
                <string>idle4.png</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>